body {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
}
ul {
  list-style: none;
}
#lista {
  max-height: 200px;
  overflow-y: auto;
  font-size: 16px;
}
#lista-riscada {
  text-decoration: line-through;
  max-height: 100px;
  font-size: 16px;
}
#lista_imagem {
  display: flex;
}
#container {
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #f18d8d;
}
